html {
  font-size: 62.5%;
}

:root {
    font-family: "Morion", "Gotham", sans-serif;
    --bgColor:#69013B;
    --textColor:#FFFFFF;
    --chartLinesColor:#FCE0D1;
    --hoverLinkColor:#B10262;
    --textHighLight1:#94d5f1;
    --textHighLight2:#FCE0D1;
    --textHighLight3:#e6aacb;
    --borderColor:rgb(252, 224, 209, .5);
  }
  /* #69023B */
  body{
    background-color: var(--bgColor);
    color:var(--textColor);
    font-size: 1.6rem;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.component-container {
  border: 1px solid var(--chartLinesColor);
  width: 100%;
  margin-block-end: 1rem;
}
.general-charts-container{
  display: flex;
  justify-content: center;
  gap:5rem;
}

.chart-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.chart {
  width: 40rem;
  height: 30rem;
  margin-inline-start: 4rem;
  position: relative;
}

/* .chart.pie-chart>div{
  height:30rem;
} */


.chart-heading {
  margin-block-end: -2rem;
  margin-inline-start: 2rem;
}

.pie-chart {
  position: relative;
  height: 20rem;
  top: 5rem;
}

/* Additional information component */
.additionInfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.additionInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.totalNumberInfo {
  display: flex;
  width: 15rem;
  height: 10rem;
  font-size: 4.2rem;
  color: var(--bgColor);
  background-color: var(--textColor);
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-block-end: 2rem;
}
.show-btn {
  border: 1px solid var(--textColor);
  background-color: transparent;
  color: var(--textColor);
  font-family: 'Gotham', sans-serif;
  width: fit-content;
  padding: 1rem 1.5rem;
}
.show-btn:hover {
  cursor: pointer;
  background-color: var(--hoverLinkColor);
  border: 1px solid transparent;
}
  
  h2{
    font-family: "Morion", sans-serif;
    font-size: 1.8rem;
  }
  h3{
    font-size: 1.2rem;
    font-family: "Morion", sans-serif;
    text-transform: uppercase;
    margin-inline-start: 2rem;
  }
  h4{
    font-size: 1.2rem;
    font-family: "Gotham", sans-serif;
  }

/* LOGS COMPONENT */
.main-heading {
  text-transform: capitalize;
  margin-inline-start: 4rem;
}

  .log{
    font-size: 1.6rem;
    font-family: "Gotham", sans-serif;
    line-height: 1.5;
  }
  .user{
    color: var(--textHighLight2);
  }
  .service{
    color: var(--textHighLight1);
  }
  .date{
    color: var(--textHighLight3)
  }
  .time{
    color: var(--textHighLight3);
  }


  /* FILTER COMPONENT */
  .filter{
    font-family: inherit;
    width:22rem;
    border: 1px solid var(--chartLinesColor);
    background-color: var(--bgColor);
    background-image: url('../images/icons/clock.svg');
    background-repeat: no-repeat;
	  background-position: 0.4em center;
    color: var(--textColor);
    padding:0.5em 0.5em 0.4em 2.5em;
    background-size: 1.5em auto;
  }
  select>option{
    font-family: inherit;
  }

  .loader {
    position: absolute;
    width: 48px;
    height: 48px;
    border: 5px solid #f5ecec;
    border-bottom-color: #0048ff;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    align-self: center;
    left:35%;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @media only screen and (max-width: 1024px) {
   
    .general-charts-container{
      display: flex;
      justify-content: flex-start;
      gap:0rem;
    }
    .chart{
      width:30rem;
    }
 

  }

  
  @media only screen and (max-width: 768px) {
   
    .general-charts-container{
      flex-direction: column;

    }
    .chart-container{
      justify-content: center;
      gap:5rem;
    }


  }

  @media only screen and (max-width: 601px) {
    .header{
      flex-direction: column;
      justify-content: left;
      margin-block-end: 1rem;
      align-items: start;
    }
    .header>div{
      width: 100%;
    }
    .header>h2{
      text-align: left
    }
    select.filter{
      width:100%;
    }

    .general-charts-container{
      display: flex;
      flex-direction: column;
      
    }

    .chart{
      width: 34rem;
      margin-inline-start: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-block-start: 2rem;
    }
 
    .chart:hover{
      cursor: pointer;
    }
    .chart>div{
      width:100%;
    }
    .chart-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    .chart-container:not(:last-child){
      border-bottom: 1px solid var(--borderColor);

    }
    .chart.pie {
      margin-block-start: -4rem;
    }

    .additionInfo-container{
      width:50%;
      
    }
    .additionInfo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-block-end: 1rem;
      width: 100%;
      
    }

    .totalNumberInfo {
      width: 5rem;
      height: 5rem;
      font-size: 3rem;
      margin: 0;
      align-items: center;
      background-color: transparent;
      color:var(--textColor)
    }

    .show-btn{
      display: none;
    }

    .loader {
      top: 20rem;
    }
  }

  @media only screen and (max-width: 320px) {
    .component-container{
      border-right: none;
      border-left: none;
    }
    .chart{
      width:25rem;
    }
    .chart.pie{
      width:100%;
    }
    .chart.pie>.chart-heading{
      margin-inline-start: 5rem;
    }
    .additionInfo-container{
      width:60%;
    }
  }
